﻿@using Comicsbook.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}
<div class="container">
    <div class="row">
        @* Sorry for this *@
        <div class="col-md-2 col-lg-2"></div>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Log in
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="col-xs-12 col-sm-6 col-md-6 social-login-box">
                        <section id="socialLoginForm">
                            <h4>Use another service to log in.</h4>
                            <hr />
                            @Html.Partial("_SocialButtons", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                        </section>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <section id="loginForm">
                            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                //@Html.AntiForgeryToken()
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                                    @Html.TextBoxFor(m => m.Login, new { @class = "form-control", @placeholder = "Username", @required = "required", @autofocus = "autofocus" })
                                </div>
                                @Html.ValidationMessageFor(m => m.Login, "At least 4 symbols", new { @class = "text-danger" })
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password", @required = "required"  })
                                </div>
                                @Html.ValidationMessageFor(m => m.Password, "Required field", new { @class = "text-danger" })
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                @* Enable this once you have account confirmation enabled for password reset functionality
                                <p>
                                    @Html.ActionLink("Lost your password?", "ForgotPassword")
                                </p>
                                *@
                                <p>Don't have an account? @Html.ActionLink("Sing up here", "Register")</p>
                                <div class="checkbox">
                                    <label>
                                    @Html.CheckBoxFor(m => m.RememberMe) Remember me?
                                    </label>
                                </div>
                                <input type="submit" class="btn btn-primary btn-sm pull-right" value="Log in" />
                            }
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}