﻿@model Comicsbook.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Create a new account.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div class="form-group">
        <div class="col-md-2 text-right" >
            @Html.LabelFor(m => m.Login, new { @class = "control-label" })
            <span>*</span>
        </div>

        <div class="col-md-5">
            <div>
                @Html.TextBoxFor(m => m.Login, new { @class = "form-control" })
                @*<span class="glyphicon glyphicon-asterisk input-group-addon"></span>*@
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-2 text-right">
            @Html.LabelFor(m => m.Password, new { @class = "control-label" })
            <span>*</span>
        </div>
        <div class="col-md-5">
            <div>
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                @*<span class="glyphicon glyphicon-asterisk input-group-addon"></span>*@
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-2 text-right">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
            <span>*</span>
        </div>
        <div class="col-md-5">
            <div>
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                @*<span class="glyphicon glyphicon-asterisk input-group-addon"></span>*@
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-2 text-right">
            @Html.LabelFor(m => m.Email, new { @class = "control-label" })
            <span>*</span>
        </div>
        
        <div class="col-md-5">
            <div>
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                @*<span class="glyphicon glyphicon-asterisk input-group-addon"></span>*@
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-2 text-right">
            @Html.LabelFor(model => model.Birthday, htmlAttributes: new { @class = "control-label" })
        </div>

        <div class="col-md-5">
            <div>
                @Html.EditorFor(model => model.Birthday, new
                {
                    htmlAttributes = new
                    {
                        @class = "form-control",
                        min = "1920-01-01",
                        max = DateTime.Now.ToString("yyyy-MM-dd")
                    }
                })
                @Html.ValidationMessageFor(model => model.Birthday, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-2 text-right">
            @Html.LabelFor(m => m.Country, new { @class = "control-label" })
        </div>

        <div class="col-md-5">
            <div>
                @{
                    List<SelectListItem> countries = new List<SelectListItem>();
                    foreach(Comicsbook.Models.Country country in ViewBag.Countries)
                    {
                        SelectListItem item = new SelectListItem();
                        item.Text = country.Word;

                        // У первого элемента значение должно быть null.
                        if (countries.Count == 0)
                        {
                            item.Value = null;
                        }
                        else
                        {
                            item.Value = country.Word;
                        }
                        
                        countries.Add(item);
                    }
                    }
                @Html.DropDownListFor(m => m.Country, countries, new 
                {
                    @class = "form-control",
                    onclick = "EnableField()"
                })
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-2 text-right">
            @Html.LabelFor(m => m.City, new { @class = "control-label" })
        </div>

        <div class="col-md-5">
            <div>
                @Html.TextBoxFor(m => m.City, new
                {
                    @class = "form-control",
                    disabled = "true"
                })
            </div>
        </div>
    </div>

    @*
        <div class="form-group">
            @Html.LabelFor(model => model.Country, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Country, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
            </div>
        </div>*@

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-primary" value="Register" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
    function EnableField() {
        var country = document.getElementById("Country").value;
        if (country != null && country != "" && country != "Not Selected")
            document.getElementById("City").disabled = false;
        else {
            document.getElementById("City").disabled = true;
            document.getElementById("City").value = "";
        }
    }
</script>
