﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="~/Pictures/favicon.ico" type="image/png">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    <link href='https://fonts.googleapis.com/css?family=Open+Sans&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog login-modal" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Login</h4>
                </div>
                <div class="modal-body">
                    <img id="profile-img" class="profile-img-card" src="@Url.Content("~/Pictures/avatar_anon.png")" />
                    <form action="@Url.Action("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl })" method="post" class="form-signin">
                        @Html.AntiForgeryToken()
                        <span id="reauth-email" class="reauth-email"></span>
                        <input class="form-control" data-val="true" data-val-minlength="At least 4 characters" data-val-minlength-min="4" data-val-required="Login required" id="Login" name="Login" type="text" placeholder="Login" required autofocus>
                        <span class="field-validation-valid text-danger" data-valmsg-for="Login" data-valmsg-replace="true"></span>
                        <input class="form-control" data-val="true" data-val-required="Password required" id="Password" name="Password" type="password" placeholder="Password" required>
                        <span class="field-validation-valid text-danger" data-valmsg-for="Password" data-valmsg-replace="true"></span>
                        <div id="remember" class="checkbox">
                            <label>
                                <input data-val="true" data-val-required="Remember me?" id="RememberMe" name="RememberMe" type="checkbox" value="true" /><input name="RememberMe" type="hidden" value="false" /> Remember me
                            </label>
                        </div>
                        <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Log in</button>
                    </form>
                    @*<a href="#" class="forgot-password">
                        Forgot the password?
                    </a>*@
                    <hr />
                    @Html.Partial("_SocialButtons", new Comicsbook.Models.ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                </div>
            </div>
        </div>
    </div>

    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @if (User.Identity.IsAuthenticated)
                {
                    @Html.ActionLink("Home", "Feed", "Feed", new { area = "" }, new { @class = "navbar-brand" })
                }
                else
                {
                    @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                }
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Articles", "Articles", "UserContent")</li>
                    <li>@Html.ActionLink("Events", "Events", "UserContent")</li>
                    <li>@Html.ActionLink("Meetings", "Meetings", "UserContent")</li>
                    <li>@Html.ActionLink("Tags", "TagsCloud", "Home")</li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Calendar", "ShowInitialCalendar", "Calendar")</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>

        </div>
    </div>
    <div class="container body-content">
        @{ if (ViewBag.NeedSidebar != null)
            {
                <div class="row">
                    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                        @RenderBody()
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        @Html.Partial("_Sidebar")
                    </div>
                </div>
            }
            else
            {
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        @RenderBody()
                    </div>
                </div>
            }
        }
    </div>
    <div class="container">
        <div id="footer" class="navbar navbar-default navbar-static-bottom footer">
            <p class="navbar-text pull-left footer">
                © 2015 - Multiverse
            </p>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
