﻿@model Comicsbook.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security

@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Count() == 0)
    {
        <div>
            <p>
                There are no external authentication services configured. See <a href="http://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support logging in via external services.
            </p>
        </div>
    }
    else
    {
        using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl }))
        {
            @Html.AntiForgeryToken()
            <div id="socialLoginList">
                <p>
                    @foreach (AuthenticationDescription p in loginProviders)
                    {
                        if (p.Caption == "Google")
                        {
                            <input type="image" src="~/Pictures/Social/google.png" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account">
                        }
                        else if (p.Caption == "Facebook")
                        {
                            <input type="image" src="~/Pictures/Social/facebook.png" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account">
                        }
                        else if (p.Caption == "Twitter")
                        {
                            <input type="image" src="~/Pictures/Social/twitter.png" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account">
                        }
                        else if (p.Caption == "Vkontakte")
                        {
                            <input type="image" src="~/Pictures/Social/vkontakte.png" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account">
                        }
                    }
                </p>
            </div>
        }
    }
}
