﻿@using Comicsbook.Models

@{
    ApplicationUser currentUser = (ApplicationUser)ViewData["User"];
    int month = (int)ViewData["Month"];
    int year = (int)ViewData["Year"];

    string stringMonth = "";

    switch (month)
    {
        case 1:
            stringMonth = "January";
            break;
        case 2:
            stringMonth = "February";
            break;
        case 3:
            stringMonth = "March";
            break;
        case 4:
            stringMonth = "April";
            break;
        case 5:
            stringMonth = "May";
            break;
        case 6:
            stringMonth = "June";
            break;
        case 7:
            stringMonth = "July";
            break;
        case 8:
            stringMonth = "August";
            break;
        case 9:
            stringMonth = "September";
            break;
        case 10:
            stringMonth = "October";
            break;
        case 11:
            stringMonth = "November";
            break;
        default:
            stringMonth = "December";
            break;
    }  
    
    DateTime date = new DateTime(year, month, 1);
    DayOfWeek startDayOfWeek = date.DayOfWeek;
    DayOfWeek dayOfWeek = DayOfWeek.Monday;

    bool started = false;
    bool finished = false;

    int day = 1;
}
<div id="calendar" style="display:inline">
    
    <div style="float:left">
        @using (Ajax.BeginForm("ShowPartialCalendar", "Calendar", new AjaxOptions { UpdateTargetId = "calendar" }))
        {
            <input name="month" value="@(month > 1 ? month - 1 : 12)" type="hidden" />
            <input name="year" value="@(month == 1 ? year - 1 : year)" type="hidden" />
            <button name="submit" id="submit" class="btn btn-default">
                <span class="glyphicon glyphicon-chevron-left" style="color:red;"></span>   
            </button>
        }
    </div>
    <div style="float:left; margin-left: 10px;">
        @using (Ajax.BeginForm("ShowPartialCalendar", "Calendar", new AjaxOptions { UpdateTargetId = "calendar" }))
        {
            <input name="month" value="@(month < 12 ? month + 1 : 1)" type="hidden" />
            <input name="year" value="@(month == 12 ? year + 1 : year)" type="hidden" />
            <button name="submit" id="submit" class="btn btn-default">
                <span class="glyphicon glyphicon-chevron-right" style="color:red;"></span></button>
        }
    </div>
    <div style="margin-left: 10px; float:left;">
        <h4>@(stringMonth) @year</h4>
    </div>
    <table class="table-bordered" style="clear:left">
        <tr style="height:40px">
            <td width="100" style="text-align:center">Monday</td>
            <td width="100" style="text-align:center">Tuesday</td>
            <td width="100" style="text-align:center">Wednesday</td>
            <td width="100" style="text-align:center">Thursday</td>
            <td width="100" style="text-align:center">Friday</td>
            <td width="100" style="text-align:center">Saturday</td>
            <td width="100" style="text-align:center">Sunday</td>
        </tr>
        @while (!finished)
        {
            <tr style="height:70px">
                @for (int i = 0; i < 7; i++)
                {
                    switch (i)
                    {
                        case 0:
                            dayOfWeek = DayOfWeek.Monday;
                            break;
                        case 1:
                            dayOfWeek = DayOfWeek.Tuesday;
                            break;
                        case 2:
                            dayOfWeek = DayOfWeek.Wednesday;
                            break;
                        case 3:
                            dayOfWeek = DayOfWeek.Thursday;
                            break;
                        case 4:
                            dayOfWeek = DayOfWeek.Friday;
                            break;
                        case 5:
                            dayOfWeek = DayOfWeek.Saturday;
                            break;
                        case 6:
                            dayOfWeek = DayOfWeek.Sunday;
                            break;
                    }
                    if (started)
                    {
                        if (finished)
                        {
                            <td style="background-color: gray"> </td>
                        }
                        else
                        {
                            List<SubscribedEvent> currentDayEvents = currentUser.SubscribedEvents.Where(se => se.Event.EventDate.Value.Year == year && se.Event.EventDate.Value.Month == month && se.Event.EventDate.Value.Day == day).ToList();
                            List<SubscribedMeeting> currentDayMeetings = currentUser.SubscribedMeetings.Where(sm => sm.Meeting.EventDate.Value.Year == year && sm.Meeting.EventDate.Value.Month == month && sm.Meeting.EventDate.Value.Day == day).ToList();
                            int totalCount = currentDayEvents.Count + currentDayMeetings.Count;

                            if (day < DateTime.DaysInMonth(year, month))
                            {
                                <td>
                                    <div>@day</div>
                                    @if (totalCount == 1)
                                    {
                                        if (currentDayEvents.Count == 1)
                                        {
                                            @Html.ActionLink(currentDayEvents[0].Event.Title, "Show", "UserContent", new { id = currentDayEvents[0].EventId }, null)
                                        }
                                        else
                                        {
                                            @Html.ActionLink(currentDayMeetings[0].Meeting.Title, "Show", "UserContent", new { id = currentDayMeetings[0].MeetingId }, null)
                                        }
                                    }
                                    else if (totalCount > 1)
                                    {
                                        <div class="dropdown" style="display:inline;">
                                            <a class="dropdown-toggle" data-toggle="dropdown" style="cursor:pointer; margin:4px">
                                                @totalCount Events
                                            </a>
                                            <ul class="dropdown-menu">
                                                @for (int k = 0; k < currentDayEvents.Count; k++)
                                                {
                                                    <li>@Html.ActionLink(currentDayEvents[k].Event.Title, "Show", "UserContent", new { id = currentDayEvents[k].EventId }, null)</li>
                                                }
                                                @if (currentDayMeetings.Count > 0 && currentDayEvents.Count > 0)
                                                {
                                                    <li class="divider"></li>
                                                }
                                                @for (int k = 0; k < currentDayMeetings.Count; k++)
                                                {
                                                    <li>@Html.ActionLink(currentDayMeetings[k].Meeting.Title, "Show", "UserContent", new { id = currentDayMeetings[k].MeetingId }, null)</li>
                                                }
                                            </ul>
                                        </div>
                                    }
                                </td>
                                    { day++; }
                            }
                            else
                            {
                                <td>
                                    <div>@day</div>
                                </td>
                                {
                                    day++;
                                    finished = true;
                                }
                            }
                        }
                    }
                    else
                    {
                        if (startDayOfWeek == dayOfWeek)
                        {
                            <td>
                                <div>@day</div>
                            </td>
                            {
                                day++;
                                started = true;
                            }
                        }
                        else
                        {
                            <td style="background-color: gray"> </td>
                        }
                    }
                }
            </tr>
        }
    </table>
</div>

