﻿@model List<Comicsbook.Models.UserTextContent>

<div class="well">
    <hgroup>
        <h2>Oops!</h2>
        <h3>There are no matchings! Try @Html.ActionLink("last articles", "Articles", "UserContent", null, null) or @Html.ActionLink("find your favourites.", "TagsCloud", "Home", null, null)</h3>
    </hgroup>
</div>