﻿@model Comicsbook.Models.ApplicationUser
@using Comicsbook.Models;

@{
    List<SubscribedUser> subscribedUsers = (List<SubscribedUser>)ViewData["subscribedUsers"];
    ApplicationUser currentUser = (ApplicationUser)ViewData["currentUser"];
}

<div id="subscribeButton">
    <div>
        <h4>Subscribers count: @subscribedUsers.Count(user => user.SubscribedAuthorId == Model.Id)</h4>
    </div>
    @if (User.Identity.IsAuthenticated)
    {
        <div>
            @if (subscribedUsers.Count(user => user.SubscribedAuthorId == Model.Id && currentUser.Id == user.SubscriberId) == 0)
            {
                using (Ajax.BeginForm("SubscribeAtUser", "Account", new AjaxOptions { UpdateTargetId = "subscribeButton" }))
                {
                    <input name="subscriberId" type="hidden" value="@currentUser.Id" />
                    <input name="subscribedAuthorId" type="hidden" value="@Model.Id" />
                    <button name="submit" id="submit" class="btn btn-default">
                        Subscribe
                        <img src="~/Pictures/tick 2.png" style="position: relative; width:15px; height: 15px;" />
                    </button>
                }
            }
            else
            {
                using (Ajax.BeginForm("UnSubscribeFromUser", "Account", new AjaxOptions { UpdateTargetId = "subscribeButton" }))
                {
                    <input name="subscriberId" type="hidden" value="@currentUser.Id" />
                    <input name="subscribedAuthorId" type="hidden" value="@Model.Id" />
                    <button name="submit" id="submit" class="btn btn-default">
                        Unsubscribe
                        <img src="~/Pictures/tick.png" style="position: relative; width:15px; height: 15px;" />
                    </button>
                }
            }
        </div>
    }

</div>
