﻿@model Comicsbook.Models.UserTextContent
@using Comicsbook.Models

@{
    ApplicationUser currentUser = (ApplicationUser)ViewData["CurrentUser"];

    var contentId = ViewData["ContentId"];
}

<span id="tagMenu">
    @foreach (var tag in Model.Tags)
    {
        <div class="dropdown" style="display:inline;">
            <span data-toggle="dropdown" class="label label-info btn-xs" style="cursor:pointer; margin:4px">
                @tag.Tag.Word
            </span>
            <ul class="dropdown-menu">
                <li style="height: 25px">
                    <button class="btn btn-default" style="width:100%; height:25px; border:none; font-size:12px; text-align: left;" onclick="location.href='/Feed/Search?tags=@(tag.Tag.Id)&page=1'">Search</button>
                    @*@Html.ActionLink("Search", "Search", "Feed",
                            new { tags = tag.Tag.Id, page = 1 }, null)*@
                </li>
                @if (User.Identity.IsAuthenticated)
                {
                    <li style="height: 25px">
                        @using (Ajax.BeginForm("SubscribeAtTag", "UserContent", new AjaxOptions { UpdateTargetId = "tagMenu" }))
                        {
                            <input name="tagId" type="hidden" value="@tag.Tag.Id" />
                            <input name="contentId" type="hidden" value="@contentId" />
                            <button name="submit" id="submit" class="btn btn-default" style="width:100%; height:25px; border:none; text-align: left; font-size:12px;">
                                Subscribe
                                @if (currentUser != null && currentUser.SubscribedTags.Count(t => t.TagId == tag.Tag.Id) > 0)
                                {
                                    <img src="~/Pictures/tick.png" style="position: relative; left:50px; width:15px; height: 15px;" />
                                }
                                else
                                {
                                    <img src="~/Pictures/tick 2.png" style="position: relative; left:50px; width:15px; height: 15px;" />
                                }
                            </button>
                        }
                    </li>
                    <li style="height: 25px">
                        @using (Ajax.BeginForm("IgnoreTag", "UserContent", new AjaxOptions { UpdateTargetId = "tagMenu" }))
                        {
                            <input name="tagId" type="hidden" value="@tag.Tag.Id" />
                            <input name="contentId" type="hidden" value="@contentId" />
                            <button name="submit" id="submit" class="btn btn-default" style="width:100%; height:25px; border:none; display:inline; text-align: left; font-size:12px;">
                                Ignore
                                @if (currentUser != null && currentUser.IgnoredTags.Count(t => t.TagId == tag.Tag.Id) > 0)
                                {
                                    <img src="~/Pictures/tick.png" style="position: relative; left:70px;  width:15px; height: 15px;" />
                                }
                                else
                                {
                                    <img src="~/Pictures/tick 2.png" style="position: relative; left:70px; width:15px; height: 15px;" />
                                }
                            </button>
                        }
                    </li>
                }
            </ul>
        </div>
    }
</span>



