﻿@{
    ViewBag.Title = "Tags";
    Dictionary<string, int> res = new Dictionary<string,int>();
}
<div id="cloud">
    @{
        foreach (var t in ViewBag.TagsCloudBlock)
        {
            res.Add(t.Key, t.Value);
        }
    }
    @foreach (var item in res.OrderBy(x => x.Key))
    {
        <span style="font-size:@(165 - 20 * item.Value)%">
            @Html.ActionLink(item.Key, "Search", "Feed",
                 new { page = 1, tags = ViewBag.Links[item.Key] },
                  new { @class = "label label-info btn-xs" })
        </span>
    }
</div>
