﻿@model Comicsbook.Models.Comment
@{
    AjaxOptions options = new AjaxOptions
    {
        UpdateTargetId = "commentsContainer",
        Url = Url.Action("AddComment"),
        InsertionMode = InsertionMode.InsertAfter,
        OnSuccess = "finishCommenting"
    };
}

@using (Ajax.BeginForm(options))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">@User.Identity.Name</h3>
        </div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="panel-body">
            <div class="form-group">
                <div class="col-md-12">
                    @Html.EditorFor(model => model.CommentText, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter your comment..." } })
                    @Html.ValidationMessageFor(model => model.CommentText, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        @Html.HiddenFor(model => model.CommentAnswerId)
        @Html.HiddenFor(model => model.ContentId)

        <div id="addCommentButtons" class="hidden">
            <div class="panel-footer">
                <div class="label label-default hidden pull-left" id="replyLabel">
                    Reply to comment #
                </div>

                <div class="pull-right">
                    <div class="btn btn-default" id="cancelComment" name="cancelComment">
                        Cancel
                    </div>
                    <input class="btn btn-primary" id="commentButton" name="commentButton" type="submit" value="Comment" />
                </div>
                <br />
                <br />
            </div>
        </div>
    </div>
}