﻿@model Comicsbook.Models.UserTextContent
@using Comicsbook.Models

@{
    bool isCurrentUserArticle = (User.Identity.Name == Model.Author.UserName);
    AjaxOptions ajaxOptions = new AjaxOptions
    {
        UpdateTargetId = "contentBlock",
        Url = Url.Action("Edit"),
        OnSuccess = "endEditing"
    };
}

<div class="show" id="contentText" name="contentText">
    @MvcHtmlString.Create(BBCodeTags.ToHtml(UserTextContent.Show(Model)).ToString().Replace("\r\n", "<br />"))
</div>
@if (isCurrentUserArticle)
{
    <div class="sr-only" id="editBlock" name="editBlock">
        @using (Ajax.BeginForm(ajaxOptions))
        {
            @Html.EditorFor(model => model.Text, new { htmlAttributes = new { @class = "form-control" } })
            <div style="margin-top:10px">
                <div class="btn btn-default" id="cancelChanges" name="cancelChanges">
                    Cancel
                </div>
                <input class="btn btn-primary" id="saveChanges" name="saveChanges" type="submit" value="Save" />
            </div>
            @Html.HiddenFor(article => article.Id)
        }
    </div>
}


