﻿@model Comicsbook.Models.UserTextContent
@using Comicsbook.Models;


@{
    string title = "New " + ViewBag.NewType.ToString();
    ViewBag.Title = title;
    List<Tag> tags = ViewBag.Tags;
    string tagWord = string.Empty;
}
@for (int i = 0; i < tags.Count; ++i)
{
    {
        tagWord = tags[i].Word + "," + tags[i].Id;
    }
    <input type="hidden" id="tagWord @i" value="@tagWord" />
}
<div class="well">
@*DON'T REMOVE THIS HIDDEN INPUT!!!1111*@
<input type="hidden" id="newIgnoredTag" value="dummy" />
<h2>@title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", required = "true" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <input type="hidden" id="tags-input-mode" value="add" />
        <div class="form-group">
            @Html.LabelFor(model => model.Tags, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                <div id="selectedTags"></div>
                <br />
                <div class="dropdown">
                    <input type="text" id="newTag" data-toggle="dropdown" class="form-control" autocomplete="off" placeholder="Confirm tag by pressing Enter">
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" id="tagList"></ul>
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Text, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="panel panel-default">
                    <div class="panel-heading">Use these tools to decorate your text:</div>
                    <div class="panel-body">
                        <span class="text-decor">
                            @*<img src="~/Pictures/Text Decorations/bold.png" id="b" title="Bold">
                                <img src="~/Pictures/Text Decorations/italic.png" id="i" title="Italic">
                                <img src="~/Pictures/Text Decorations/underlined.png" id="u" title="Underlined">
                                <img src="~/Pictures/Text Decorations/strike.png" id="s" title="Strike">
                                <img src="~/Pictures/Text Decorations/image.png" id="img" title="Image">
                                <img src="~/Pictures/Text Decorations/youtube.png" id="video" title="Video">
                                <img src="~/Pictures/Text Decorations/url.png" id="url" title="Link">
                                <img src="~/Pictures/Text Decorations/quote.png" id="quote" title="Quote">*@

                            <i class="fa fa-bold fa-2x text-decor-img fa-border" id="b" title="Bold"></i>
                            <i class="fa fa-italic fa-2x text-decor-img fa-border" id="i" title="Italic"></i>
                            <i class="fa fa-underline fa-2x text-decor-img fa-border" id="u" title="Underlined"></i>
                            <i class="fa fa-strikethrough fa-2x text-decor-img fa-border" id="s" title="Strike"></i>
                            <i class="fa fa-image fa-2x text-decor-img fa-border" id="img" title="Image"></i>
                            <i class="fa fa-youtube-square fa-2x text-decor-img fa-border" id="video" title="Video"></i>
                            <i class="fa fa-link fa-2x text-decor-img fa-border" id="url" title="Link"></i>
                            <i class="fa fa-quote-left fa-2x text-decor-img fa-border" id="quote" title="Quote"></i>
                        </span>
                    </div>
                </div>
                <div>
                    @Html.EditorFor(model => model.Text, new { htmlAttributes = new { @class = "form-control", id = "textbox", required = "true" } })
                    @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        @if (ViewBag.NewType == Comicsbook.Models.ContentType.Event
                || ViewBag.NewType == Comicsbook.Models.ContentType.Meeting)
        {
            <div class="form-group">
                <label class="control-label col-md-2" for="eventDate">Date</label>
                <div class="col-md-4">
                    <input type="date" name="eventDate" id="eventDate" value="" class="form-control text-box single-line" required
                           min=@DateTime.Now.ToString("yyyy-MM-dd") max="2050-01-01" />
                </div>
            </div>
        }

        @if (ViewBag.NewType == Comicsbook.Models.ContentType.Meeting)
        {
            <div class="form-group">
                <label class="control-label col-md-2" for="eventDate">Place</label>
                <div class="col-md-4">
                    <div id="canvas" style="height: 600px; width:600px;"></div>
                    <input type="hidden" id="longtitude" name="longtitude" value="" required/>
                    <input type="hidden" id="lattitude" name="lattitude" value="" required />
                </div>
            </div>
        }
        @Html.HiddenFor(model => model.AuthorId)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}
</div>

@section scripts
{
    <script src="~/Scripts/Custom Scripts/TagsEnter.js"></script>

    <script src="~/Scripts/Custom Scripts/TextDecor.js"></script>
}

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="https://maps.google.com/maps/api/js?sensor=true" type="text/javascript"></script>
    <script type="text/javascript">

        var marker;
        var map;

        $(document).ready(function () {
            CreateValidationMessages();
            GetMap();
        });

        // Функция загрузки
        function GetMap() {

            google.maps.visualRefresh = true;

            navigator.geolocation.getCurrentPosition(function (p) {
                var LatLng = new google.maps.LatLng(p.coords.latitude, p.coords.longitude);
                var mapOptions = {
                    zoom: 15,
                    center: LatLng,
                    mapTypeId: google.maps.MapTypeId.G_NORMAL_MAP
                };
                map = new google.maps.Map(document.getElementById("canvas"), mapOptions);

                google.maps.event.addListener(map, 'click', function (event) {
                    if (marker == null)
                        addMarker(event.latLng);
                });//добавляем событие нажание мышки


            });

            function addMarker(location) {

                var myLatlng = new google.maps.LatLng(location.lat(), location.lng());

                marker = new google.maps.Marker({
                    position: myLatlng,
                    map: map,
                    draggable: true
                });//добавление маркера

                document.getElementById("longtitude").value = location.lat();
                document.getElementById("lattitude").value = location.lng();

                google.maps.event.addListener(marker, "drag", function (event) {
                    document.getElementById("longtitude").value = event.latLng.lat();
                    document.getElementById("lattitude").value = event.latLng.lng();
                });
                
                // Берем для маркера иконку с сайта google
                marker.setIcon('http://maps.google.com/mapfiles/ms/icons/red-dot.png')
            }
        }

        // Настройка сообщений валидации.
        function CreateValidationMessages()
        {
            var titleInput = document.getElementById("Title");
            titleInput.oninvalid = function (e) {
                e.target.setCustomValidity("");
                if (!e.target.validity.valid) {
                    e.target.setCustomValidity("The field 'Title' is required.");
                }
            };
            titleInput.oninput = function (e) {
                e.target.setCustomValidity("");
            };

            var textInput = document.getElementById("textbox");
            textInput.oninvalid = function (e) {
                e.target.setCustomValidity("");
                if (!e.target.validity.valid) {
                    e.target.setCustomValidity("The field 'Text' is required.");
                }
            };
            textInput.oninput = function (e) {
                e.target.setCustomValidity("");
            };

            var dateInput = document.getElementById("eventDate");
            dateInput.oninvalid = function (e) {
                e.target.setCustomValidity("");
                if (!e.target.validity.valid) {
                    e.target.setCustomValidity("The field 'Event Date' is required.");
                }
            };
            dateInput.oninput = function (e) {
                e.target.setCustomValidity("");
            };

            var place = document.getElementById("longtitude");
            place.oninvalid = function (e) {
                e.target.setCustomValidity("");
                if (!e.target.validity.valid || e.target.value == "") {
                    e.target.setCustomValidity("The place of meeting is required.");
                }
            };
            place.oninput = function (e) {
                e.target.setCustomValidity("");
            };
        }
    </script>
