﻿@using Comicsbook.Models
@model Comment
@{
    string date;
    string commentRatingColor;
    string nameOfRepliant;

    IEnumerable<Comment> comments = ViewBag.Comments;
}
<div class="media well">
    <div class="media-left">
        <img class="img-comment thumbnail" src="@Model.Author.Userpic.Image" alt="@Model.Author.UserName">
    </div>
    <div class="media-body">
        <h5 class="media-heading">
            @if (User.Identity.IsAuthenticated)
            {
        <!--"reply" class required for javascript.-->
                <i class="fa fa-reply reply fa-flip-horizontal" id=@Model.Id></i>
            }
            <strong>
                @Html.ActionLink(Model.Author.UserName, "Users", "Account", new { id = Model.Author.UserName }, null)
            </strong>
            <small>#@Model.Id</small>
            @if (Model.Date.Date == DateTime.Now.Date)
            {
                //date = String.Format("{0} : {1}", comment.Date.Hour, comment.Date.Minute);
                date = Model.Date.ToString();
            }
            else
            {
                //date = comment.Date.Day.ToString() + '.' + comment.Date.Month.ToString() + '.' + comment.Date.Year.ToString();
                date = Model.Date.ToString("dd.MM.yyyy");
            }
            <span class="text-muted">@date</span>
            @if (Model.LikesCount - Model.DislikesCount == 0)
            {
                commentRatingColor = "neutral";
            }
            else if (Model.LikesCount - Model.DislikesCount < 0)
            {
                commentRatingColor = "liked-down";
            }
            else
            {
                commentRatingColor = "liked-up";
            }
            <span id=@("ratingDiv" + Model.Id.ToString()) class="pull-right">
                @*@Html.Partial("CreateCommentRating", Model)*@
                @Html.Action("CreateCommentRating", Model)
                @*<span class=@commentRatingColor>@(Model.LikesCount - Model.DislikesCount)</span>*@
            </span>
        </h5>
        <p>
            @if (Model.CommentAnswerId != null)
            {

                if (ViewBag.ReplyAuthor != null)
                {
                    nameOfRepliant = ViewBag.ReplyAuthor.UserName;
                }
                else
                {
                    nameOfRepliant = comments.First(y => y.Id == Model.CommentAnswerId).Author.UserName;
                }
                nameOfRepliant += ", ";
                <a href="#@Model.CommentAnswerId.ToString()">@nameOfRepliant</a>
            }
            @MvcHtmlString.Create(Server.HtmlEncode(Model.CommentText).Replace("\r\n", "<br/>"))
        </p>
    </div>
</div>

