﻿body {
    padding-top: 70px;
    padding-bottom: 0px;
    background-image: url(../Pictures/bg-light.png);
    font-family: 'Open Sans', sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */ 
input,
select,
textarea {
    max-width: 100%;
}

.reply
{
    cursor: pointer;
}

.reply:hover
{
    color:lightgray;
}

.like
{
    color: #1a1a1a;
    text-decoration: none;
}

.neutral
{
    color: lightgray;
}

.like:hover, 
.like:active,
.like:visited,
.like:focus
{
    text-decoration: none;
    cursor: pointer;
    color: #1a1a1a;
}

.liked-up
{
    color: #32CD32;
}

.liked-down
{
    color: #FF6347;
}

.like-up:hover
{
    color: #32CD32;
}

.like-down:hover
{
    color: #FF6347;
}

.liked-up:hover
{
    color: #32CD32;
}

.liked-down:hover
{
    color: #FF6347;
}

.rating
{
    font-size: 20px;
}

.text-decor-img
{
   cursor:pointer;
}

.text-decor-img:hover
{
    background-color:#ebebeb;
}

.userpic-min
{
    height:20px;
    width:20px;
}

.userpic-standard
{
    height:50px;
    width:50px;
}

.userpic-big
{
    height:80px;
    width:80px;
}

/*
 * Login modal
 */

.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.profile-name-card {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;
}

.reauth-email {
    display: block;
    color: #404040;
    line-height: 2;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin #inputEmail,
.form-signin #inputPassword {
    direction: ltr;
    height: 44px;
    font-size: 16px;
}

.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    border-color: rgb(104, 145, 162);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
}

.btn.btn-signin {
    background-color: rgb(104, 145, 162);
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}

.btn.btn-signin:hover,
.btn.btn-signin:active,
.btn.btn-signin:focus {
    background-color: rgb(12, 97, 33);
}

.forgot-password {
    color: rgb(104, 145, 162);
}

.forgot-password:hover,
.forgot-password:active,
.forgot-password:focus{
    color: rgb(12, 97, 33);
}
	
.login-modal {
	width: 350px;
}

/*
 *  Login page
 */

.social-login-box {
    border-right: 1px solid #eee;
}

#loginForm .input-group {
    margin-bottom: 10px;
}

/* toTop btn */	
	
#toTop{
	position: fixed;
	bottom: 10px;
	right: 10px;
	cursor: pointer;
	display: none;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}
    
.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}

#subscribeButton > form {
    display: inline;
}

.panel-body  {
    word-wrap: break-word;
}

#cloud {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

strong > a {
    color: #287ca9;
}

.footer {
    background-color: #f5f5f5;
    color: #ccc;
}

#footer .navbar-text {
    color: #333333;
}

#content-text {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.img-comment {
    width: 85px;
    height: 85px;
}

#headerwrap {
	background: url(http://www.hdwallpapers.net/images/darth-vader-the-force-unleashed-2-wallpaper-for-3840x2160-4k-136-715.jpg) no-repeat center top;
	margin-top: -71px;
	padding-top:20px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 1024px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#headerwrap h1 {
	margin-top: 100px;
	color: white;
	font-size: 70px;
	font-weight: 300;
	letter-spacing: 3px;
}

#headerwrap a {
	color: white;
	font-size: 40px;
	font-weight: 700;
	letter-spacing: 2px;
	text-transform: uppercase;
}

div.display + div {
    display: none;
}

.btn-main, .btn-main:link, .btn-main:visited {
    background-color: transparent;
    color: #ffffff;
    border: 2px solid #ffffff;
    padding: 5px 30px;

    /* CSS Transition */
	-webkit-transition: background .2s ease-in-out, border .2s ease-in-out;
	-moz-transition: background .2s ease-in-out, border .2s ease-in-out;
	-ms-transition: background .2s ease-in-out, border .2s ease-in-out;
	-o-transition: background .2s ease-in-out, border .2s ease-in-out;
	transition: background .2s ease-in-out, border .2s ease-in-out;
}
.btn-main:active, .btn-main:hover, .btn-main:focus {
    background-color: transparent;
    border: 2px solid #999;
    color: #fff;
    text-decoration: none;
}

.margin-right-60 {
    margin-right: 60px;
}

div.navbar ~ div.container ~ div#headerwrap {
    background-color: transparent;
}