﻿@using Comicsbook.Models
@{
    ViewBag.Title = "Calendar";

    ApplicationUser currentUser = (ApplicationUser)ViewData["User"];

    var info = new ViewDataDictionary();
    info.Add("User", currentUser);
    info.Add("Month", DateTime.Now.Month);
    info.Add("Year", DateTime.Now.Year);
}
<div class="well">
    <h2>Calendar</h2>

    @Html.Partial("CalendarPartial", info)

</div>
@section scripts
{
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>
}
